<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hola mundo</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat,
      pariatur? Voluptas nihil quae distinctio sint ex deleniti, tempore velit
      illo, nemo nesciunt quasi perferendis quibusdam veniam. Sequi asperiores
      magni dolorum! Dolore quis doloremque molestias eaque totam dolorem
      voluptas impedit odit consequatur natus est quod ea nisi aspernatur nam
      perspiciatis recusandae reiciendis ducimus autem, minima repellendus ex
      adipisci ipsam. Quod, ullam.
    </p>
  </body>
</html>
